@model havhavli.Models.Product

@{
    ViewData["Title"] = "מחיקה";
}

<h1 class="text-center">מחיקה</h1>

<div>
    <hr />
    <dl class="row">
        <h4 class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </h4>
        <h5 class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </h5>
        <h4 class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </h4>
        <h5 class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </h5>
        <h4 class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </h4>
        <h5 class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </h5>
        <h4 class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </h4>
        <h5 class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </h5>
    </dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="מחיקה" class="btn btn-danger" /> |
    <a asp-action="Index">חזרה אל המוצרים</a>
</form>
</div>
