@model IEnumerable<havhavli.Models.Product>

@{
    ViewData["Title"] = "מוצרי החנות";
}

<h1>מוצרי החנות</h1>
@if (Context.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">הוסף מוצר</a>
    </p>
}

<form asp-action="Search">
    <input name="query" id="query" autocomplete="off" placeholder="חיפוש..." />
    <input type="submit" value="חיפוש" />
</form>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card col-3" style="width: 18rem;">
                <img src="@item.Image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text"> @item.Description</p>
                    <p class="card-text"> @item.Price ש"ח</p>
                    <form asp-controller="ShoppingCarts" asp-action="AddToCart" asp-route-id="@item.Id" method="post">
                        <button onclick="myFunction()" type="submit" class="btn btn-outline-success card-background">
                            הוסף לעגלת הקניות
                        </button>
                    </form>
                </div>
                @if (Context.User.IsInRole("Admin"))
                {
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.Id">עריכת מוצר</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">מחיקת מוצר</a>
                    </div>
                }
            </div>

        }
    </div>
</div>

<script>
    function myFunction() {
        alert("המוצר התווסף לסל הקניות !");
    }
</script>

@section Scripts{
    <script src="~/js/Search.js"></script>

    <script type="text/html" id="hidden-template">
        <tr>
            <td>
                {name}
            </td>
            <td>
                {Description}
            </td>
            <td>
                <a href="/Products/Edit/{id}">Edit</a> |
                <a href="/Products/Delete/{id}">Delete</a>
            </td>
        </tr>
    </script>
}