@model IEnumerable<havhavli.Models.Product>

@{
    ViewData["Title"] = "מוצרי החנות";
}

<h1 class="text-center">מוצרי החנות</h1>
@if (Context.User.IsInRole("Admin"))
{

    <p class="text-center">
        <a class="text-center" asp-action="Create">הוסף מוצר</a>   | 
        <a class="text-center" asp-controller="ProductImages" asp-action="create">מוצרים ללא תמונות - סיום הכנת מוצר</a>
    </p>
}


<div style="margin-right:25px">
    <form class="formStyle" asp-controller="Products" asp-action="JoinSearch">
        <label class="text-dark text-center"> חפש מוצר :</label>
        <input type="text" id="productName" name="productName" required min="1">
        <label class="text-dark text-center" for="price">טווח מחירים :</label>
        <select class="choiceStyle" name="price" id="price" required>
            <option value="50">0-50₪</option>
            <option value="150">0-150₪</option>
            <option value="250">0-250₪</option>
            <option value="400">0-400₪</option>
            <option value="800">0-800₪</option>
        </select>
        <button type="submit" value="Search" class="btn">🔍</button>
    </form>
</div>

<div class="container-products">
    <div class="row">
        @foreach (var item in Model.Where(a => a.productImage != null))
        {
        <div class="card col-3" style="width:auto; flex: 0 0 15%">
            <img src="@item.productImage.Imge" class="card-img-top" alt="product image" style="max-width:300px; max-height:300px">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text"> @item.Description</p>
                <p class="card-text"> @item.Price ש"ח</p>
                @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0)
                {
                    <form class="formStyle" asp-controller="ShoppingCarts" asp-action="AddToCart" asp-route-id="@item.Id" method="post">
                        <label class="text-dark text-center" for="quantity">כמות : </label><br />
                        <select class="choiceStyle" name="quantity" id="quantity" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>

                        <button type="submit" value="AddToCart" class="btn btn-dark">הוסף לסל הקניות</button>
                    </form>
                }
                else
                {
                    <a class="btn btn-outline-success card-background" asp-area="" asp-controller="Users" asp-action="Login">הוסף לעגלת הקניות</a>
                }
            </div>
            @if (Context.User.IsInRole("Admin"))
            {
                <div>
                    <a asp-action="Edit" asp-route-id="@item.Id">עריכת מוצר</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">מחיקת מוצר</a>|
                    <a asp-controller="ProductImages" asp-action="Edit" asp-route-id="@item.Id">עריכת תמונה</a>
                </div>
            }
          
        </div>
        }
    </div>
</div>

<script>
    function myFunction() {
        alert("המוצר התווסף לסל הקניות!");
    }
</script>