@model IEnumerable<havhavli.Models.ShoppingCart>

@{
    ViewData["Title"] = "עגלות";
}

<h1 class="text-center head-of-page">רשימת עגלות פתוחות</h1>
<table class="table styleTable">
    <thead cellspacing="40">
        <tr>
            <th>
                <div></div>
            </th>
            <th></th>
            <th>
                <div>לקוח</div>
            </th>
            <th>
                <div>סך לתשלום</div>
            </th>
            <th></th>
            <th>
                <div>מוצרים</div>
            </th>
            <th>
                <div>כמות</div>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td></td>
            <td>
                @foreach (var i in item.Products)
                {
                    @Html.DisplayFor(modelItem => i.Name)
                    <br />
                }
            </td>
            <td>
                @foreach (var i in item.Products)
                {
                    @Html.DisplayFor(modelItem => i.QuantityInCart)
                    <br />
                }
</tr>
        }
    </tbody>


</table>
