@model havhavli.Models.Supplier

@{
    ViewData["Title"] = "הסר ספק";
}

<h1>הסרת ספק</h1>

<h3>האם ברצונך להסיר ספק זה?</h3>
<div>
    <h4>ספק</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="הסר" class="btn btn-danger" /> |
        <a asp-action="Index">חזור לרשימת ספקים</a>
    </form>
</div>
