@model IEnumerable<havhavli.Models.Supplier>

@{
    ViewData["Title"] = "ספקים";
}

<h1>ספקים</h1>

<p>
    <a asp-action="Create">הוסף ספק</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">עריכת פרטי ספק</a> |
                <a asp-action="Details" asp-route-id="@item.Id">פרטים</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">מחק ספק מהרשימה</a>
            </td>
        </tr>
}
    </tbody>
</table>
